body,html {
	background:#fff;
	font-family:"futura-pt-1", sans-serif;
	margin:0;
	padding:0;
	height:100%;
}

header#mini {
	width:100%;
	height:40px;
	background:#ededed;
	float:left;
}

header#mini nav.social > a {
	line-height:40px;
	width:40px;
	height:40px;
	display:block;
	float:left;
	color:#5f5f5f;
	font-size:16px;
	text-decoration:none;
	text-align:center;
	-webkit-transition: all 200ms ease-out;
	-moz-transition:all  200ms ease-out;
	-o-transition: all 200ms ease-out;
	transition: all 200ms ease-out;
}

header#mini nav.social > a.facebook:hover {
	background:#3b5998;
	color:#fff;
}

header#mini nav.social > a.twitter:hover {
	background:#00aced;
	color:#fff;
}

header#mini nav.social > a.pinterest:hover {
	background:#cb2027;
	color:#fff;
}

header#mini nav.social > a.instagram:hover {
	background:#517fa4;
	color:#fff;
}

header#mini nav.social > a:hover {
	background:#000;
}

header#mini nav.user > a {
	text-decoration:none;
	font-size:12px;
	color:#000;
	font-weight:bold;
	line-height:40px;
	color:#5f5f5f;
	margin:0 15px;
	text-transform:uppercase;
	-webkit-transition: all 200ms ease-out;
	-moz-transition:all  200ms ease-out;
	-o-transition: all 200ms ease-out;
	transition: all 200ms ease-out;
}
header#mini nav.user > a i {
	margin:0 5px 0 0;
}

header#mini nav.user > a:hover {
	color:#000;
}

header#main ul {
	list-style:none;
	margin:0;
	padding:0;
}

header#main nav {
	position: relative;
	width:100%;
}
header#main {
	border:1px solid #ededed;
}

header#main ul li {
	min-width:120px;
	position: relative;
}
header#main ul li a {
	color:#000;
	line-height:90px;
	text-transform:uppercase;
	font-weight:500;
	text-decoration:none;
	height:90px;
	text-align:center;
	display:block;
	position: relative;
	font-size:14px;
	-webkit-transition: all 200ms ease-out;
	-moz-transition:all 200ms ease-out;
	-o-transition: all 200ms ease-out;
	transition: all 200ms ease-out;
}

header#main ul li.active:after {
	content:'';
	position:absolute;
	border-bottom:4px solid #f23131;
	bottom:0;
	left:0;
	width:100%;
	display:block;
}

header#main a#logo {
	width:72px;
	height:77px;
	margin-left:-36px;
	left:50%;
	top:48px;
	position: absolute;
	background:url(../images/logo.png) 0 0 no-repeat;
	display:block;
	z-index:9999;
}

header#main a.logo {
	background:url(../images/logo.png) center center no-repeat;
	width:50px;
	height:50px;
	background-size:47%;
	padding-left:70px;
	text-transform:uppercase;
	font-weight:bold;
	color:#000;
	line-height:26px;
	font-size:12px;
	z-index:9999;
	position: relative;
}

header#main ul li a:hover {
	background:#f23131;
	color:#fff;
}

.navbar-collapse {
	max-height:none;
	padding:0;
	border:none;
	box-shadow:none;
	overflow:hidden; 
}

.navbar-default {
	background:none;
	border:none;
	margin:0;
}
.navbar-header {
	border-bottom:1px solid #ededed;
}

.carousel {
	margin-bottom:0;
}
.carousel-inner img{
	margin:0 auto;
}
.carousel-inner > div {
	background:#999;
}

.carousel .carousel-control {
	width:30px;
	height:85px;
	background:#fff;
	color:#000;
	border:none;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	opacity: 1.0;
	filter: alpha(opacity=100);
	top:50%;
	margin-top:-43px;
	text-shadow:none;
}
.carousel .carousel-control {
	color:#000;
}
.carousel .carousel-control.left:after {
	content:'\F104';
	font-family:FontAwesome;
	position: absolute;
	top:50%;
	left:50%;
	margin-top:-13px;
	margin-left:-4px;
}
.carousel .carousel-control.right:after {
	content:'\F105';
	font-family:FontAwesome;
	position: absolute;
	top:50%;
	right:50%;
	margin-top:-13px;
	margin-right:-4px;
}

footer#main {
	width:100%;
	float:left;
	height:45px;
	border-top:1px solid #ebebeb;
}
footer#main ul {
	margin:0;
	padding:0;
}

footer#main ul li {
	display:inline;
	float:left;
	margin:0 0 0 10px;
	height:45px;
}
footer#main ul li.social {
	width:45px;
	margin:0;
}

footer#main ul li a {
	color:#000;
	font-weight:bold;
	line-height:45px;
	font-size:12px;
	text-transform:uppercase;
	text-decoration:none;
	text-align:center;
}